{% extends "bs_layout.html" %}
{% from "admin/logs/macros.html" import to_class %}

{% block content %}
    <div class="page-header">
        <h1>Logs</h1>
        {% include "admin/logs/logs_nav.html" %}
    </div>

    <h2><a href="{{ url_for('logs.unresolved') }}">Unresolved</a> ({{ unresolved_count }})</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Level</th>
                <th>Message</th>
                <th>Created at</th>
                <th>Details</th>
                <th>Resolve</th>
            </tr>
        </thead>
        <tbody>
        {% if unresolved_logs|length > 0 %}
            {% for log in unresolved_logs %}
                <tr class="{{ to_class(log.level) }}">
                    <td>{{ log.id }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.msg }}</td>
                    <td>{{ log.created_at }}</td>
                    <td><a class="btn btn-xs btn-default" href="{{ url_for('logs.view', _id=log.id) }}">Details</a></td>
                    <td><a class="btn btn-success btn-xs logs-mark-resolved" href="{{ url_for('logs.mark_resolved', _id=log.id) }}">Mark resolved</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-muted">No unresolved logs</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h2><a href="{{ url_for('logs.resolved') }}">Resolved</a> ({{ resolved_count }})</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Level</th>
                <th>Message</th>
                <th>Created at</th>
                <th>Resolved by</th>
                <th>Resolved when</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% if resolved_logs|length > 0 %}
            {% for log in resolved_logs %}
                <tr class="{{ to_class(log.level) }}">
                    <td>{{ log.id }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.msg }}</td>
                    <td>{{ log.created_at }}</td>
                    <td><a href="{{ url_for('users.user', _id=log.resolved_by_user_id) }}">{{ log.resolved_by_user.name }}</a></td>
                    <td>{{ log.resolved_at }}</td>
                    <td><a class="btn btn-xs btn-default" href="{{ url_for('logs.view', _id=log.id) }}">Details</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-muted">No resolved logs</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
