{% from "macros.html" import iconic %}
<nav id="logs-nav" class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="{{ "active" if "logs.index" == request.endpoint  }}">
            <a href="{{ url_for("logs.index") }}">Overview</a>
        </li>
        <li class="{{ "active" if "logs.unresolved" == request.endpoint  }}">
            <a href="{{ url_for("logs.unresolved") }}">Unresolved</a>
        </li>
        <li class="{{ "active" if "logs.resolved" == request.endpoint  }}">
            <a href="{{ url_for("logs.resolved") }}">Resolved</a>
        </li>
    </ul>
</nav>
