{% extends "layouts/standard.html" %}
{% from "replays/macros.html" import replay_header %}

{% block content %}
    {{ replay_header(replay) }}

    <div class="row">
        <div class="col-sm-6">
            <form action="" method="post" name="download">
                {{ form.hidden_tag() }}
                <p>
                    Please fill in the following Recaptcha to download replays from Dotabank.
                </p>
                <p>{{ form.recaptcha }}</p>
                <button type="submit" class="btn btn-primary">Download</button>
            </form>
        </div>
        <div class="col-sm-6 text-center">
            <dl class="text-muted">
                <dt>Name</dt>
                <dd>{{ name }}</dd>
                <dt>File size</dt>
                <dd>{{ filesize|filesizeformat }}</dd>
                <dt>MD5 Checksum</dt>
                <dd>{{ md5 }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
