{% extends "layouts/standard.html" %}
{% from "replays/macros.html" import replay_header %}

{% block content %}
    {{ replay_header(replay) }}

    <div class="row text-center">
        <div class="col-sm-6">
            <h2>Aw yea, you're a human!</h2>
            <p>Your replay should start dowloading within a few seconds.</p>
            <p>If it doesn't, mash the green button.</p>
            <a href="{{ url|safe }}" class="btn btn-lg btn-success">Download replay</a>
        </div>
        <div class="col-sm-6">
            <dl class="text-muted">
                <dt>Name</dt>
                <dd>{{ name }}</dd>
                <dt>File size</dt>
                <dd>{{ filesize|filesizeformat }}</dd>
                <dt>MD5 Checksum</dt>
                <dd>{{ md5 }}</dd>
                <dt>Download link expires at</dt>
                <dd>{{ expires_at }} UTC</dd>
            </dl>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    /* Start download; is this the most efficient method? Idfk :3 */
    $(document).ready(function(){
        window.location = '{{ url|safe }}';
    });
    </script>
{% endblock %}
