{% extends "layouts/standard.html" %}
{% from "replays/macros/replay_page.html" import replay_header %}
{% from "ads.html" import large_rectangle_ad with context %}

{% block content %}
    {{ replay_header(replay) }}

    <div class="row">
        <div class="col-sm-6">
            <form action="" method="post" name="download">
                {{ form.hidden_tag() }}
                <p>
                    Please prove you don't say "<a
                        href="https://wiki.teamfortress.com/w/images/d/d2/Soldier_robot02.wav?t=20111028120843">Beep boop</a>."
                </p>
                <p>{{ form.recaptcha }}</p>
                <button type="submit" class="btn btn-primary">Download</button>
            </form>

            <hr/>

            <dl class="text-muted text-center">
                <dt>Name</dt>
                <dd>{{ name }}</dd>
                <dt>File size</dt>
                <dd>{{ filesize|filesizeformat }}</dd>
                <dt>MD5 Checksum</dt>
                <dd>{{ md5 }}</dd>
            </dl>
        </div>
        <div class="col-sm-6 text-center">
            {{ large_rectangle_ad() }}
        </div>
    </div>
{% endblock %}
