{% extends "layouts/standard.html" %}
{% from "replays/macros.html" import replay_header %}
{% from "ads.html" import large_rectangle_ad with context %}

{% block content %}
    {{ replay_header(replay) }}

    <div class="row text-center">
        <div class="col-sm-6">
            <h2>Congratulations!<br/>You're not a robot.</h2>
            <p class="lead">The above news may come as a shock but don't fret &ndash; not being a robot is okay, and totally acceptable in today's society.</p>
            <p>Your replay should start downloading within a few seconds.</p>
            <p>If it doesn't, mash the green button.</p>
            <a href="{{ url|safe }}" class="btn btn-lg btn-success">Download replay</a>

            <hr/>

            <dl class="text-muted text-center">
                <dt>Name</dt>
                <dd>{{ name }}</dd>
                <dt>File size</dt>
                <dd>{{ filesize|filesizeformat }}</dd>
                <dt>MD5 Checksum</dt>
                <dd>{{ md5 }}</dd>
                <dt>Download link expires at</dt>
                <dd>{{ expires_at }} UTC</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            {{ large_rectangle_ad() }}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    /* Start download; is this the most efficient method? Idfk :3 */
    $(document).ready(function(){
        window.location = '{{ url|safe }}';
    });
    </script>
{% endblock %}
