{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
        <h1>Replays <small>page {{ replays.page }}</small></h1>
        <ul class="pager">
            <li class="previous {{ "disabled" if not replays.has_prev }}"><a href="{{ url_for("replays.replays", page=replays.prev_num) if replays.has_prev else "" }}">&larr; Older</a></li>
            <li class="next {{ "disabled" if not replays.has_next }}"><a href="{{ url_for("replays.replays", page=replays.next_num) if replays.has_next else "" }}">Newer &rarr;</a></li>
        </ul>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td>Replay ID</td>
                <td>Added</td>
                <td>Got details</td>
                <td>Downloaded</td>
                <td>Parsed</td>
                <td>Favourite</td>
                <td>Rating</td>
                <td>State</td>
                <td>Replay state</td>
                <td>Combat log?</td>
                <td>URL</td>
            </tr>
        </thead>
        <tbody>
            {% for replay in replays.items %}
                <tr>
                    <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                    <td>{{ replay.added_to_site_time }}</td>
                    <td>{{ replay.gc_done_time }}</td>
                    <td>{{ replay.dl_done_time }}</td>
                    <td>{{ replay.parse_time}}</td>
                    <td>
                        <a href="{{ url_for("replays.replay_favourite", _id=replay.id, remove=(1 if replay.user_favourite() else 0)) }}">
                            <span class="{{"" if replay.user_favourite() else "text-muted" }} glyphicon glyphicon-star"> ({{ replay.favourites|list|length }})</span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=1) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive == True else "text-muted" }} glyphicon glyphicon-thumbs-up"> ({{ replay.ratings|selectattr("positive")|list|length }})</span>
                        </a>
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=0) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive != True  else "text-muted" }} glyphicon glyphicon-thumbs-down"> ({{ replay.ratings|rejectattr("positive")|list|length }})</span>
                        </a>
                    </td>
                    <td>{{ replay.state }}</td>
                    <td>{{ replay.replay_state }}</td>
                    <td>
                        {% if replay.combatlog.first() %}
                            <a href="{{ url_for("replays.combatlog", _id=replay.id) }}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default btn-xs {{ "disabled" if not replay.url else "" }}" href="{{ replay.url }}">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
