{% from "macros.html" import iconic, pagination %}
{% extends "layouts/standard.html" %}


{% block page_header %}
    <section class="page-header">
        <h1>Replays <small>page {{ replays.page }}</small></h1>
    </section>
{% endblock %}

{% block content %}
    <section class="replay-page">
        <table class="table condensed striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>ID</th>
                    <th>Added</th>
                    <th>Got details</th>
                    <th>Downloaded</th>
                    <th>State</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for replay in replays.items %}
                    <tr>
                        <td>
                            {% if current_user.is_authenticated() %}
                                <a href="{{ url_for("replays.replay_favourite", _id=replay.id, remove=(1 if replay.user_favourite() else 0)) }}">
                                    <span class="fav-button {{"active" if replay.user_favourite() else "" }}">
                                        {{ iconic('star', class='iconic-sm') }}
                                        <sub>({{ replay.favourites|list|length }})</sub>
                                    </span>
                                </a>
                            {% else %}
                                <span class="fav-button">
                                    {{ iconic('star', class='iconic-sm') }}
                                    <sub>({{ replay.favourites|list|length }})</sub>
                                </span>
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a></td>
                        <td>{{ replay.added_to_site_time|datetime_to_datestring }}</td>
                        <td>{{ replay.gc_done_time|datetime_to_datestring }}</td>
                        <td>{{ replay.dl_done_time|datetime_to_datestring }}</td>
                        <td>{{ replay.state }}</td>
                        <td>
                            <form action="{{ url_for("replays.download", _id=replay.id) }}">
                                <button class="download-button" {{ "disabled" if not replay.local_uri else "" }}>
                                    Download
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(replays, "replays.replays") }}
    </section>
{% endblock %}
