{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
        <h1>Replay <small>{{ replay.id }}{% if replay.start_time %}; {{ replay.start_time|timestamp_to_datestring }} UTC{% endif %}</small></h1>

        {% include "replays/replay_nav.html" %}

        <div class="row progress-tracker">
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.added_to_site_time else "todo" }}">Added to site</span>
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.gc_done_time else "todo" }}">Get match details</span>
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.dl_done_time else "todo" }}">Archive replay</span>
        </div>
        <div class="row text-muted text-center">
            <span class="col-xs-4">{{ replay.added_to_site_time }}</span>
            <span class="col-xs-4">{{ replay.gc_done_time }}</span>
            <span class="col-xs-4">{{ replay.dl_done_time }}</span>
        </div>
    </div>

    {% if replay.state in ["WAITING_GC", "WAITING_DOWNLOAD", "DOWNLOAD_IN_PROGRESS"] %}
        <div class="alert alert-warning"><strong>I'm not ready!</strong> The replay is in limbo ({{ replay.state }}), check back soon.</div>
    {% elif replay.state in ["GC_ERROR", "DOWNLOAD_ERROR"] %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong>
            {% if replay.state == "GC_ERROR" %}
                There was a problem retrieving match details, this could be because the match was private, requires a tournament pass to access, or the match id is invalid.
            {% elif replay.state == "DOWNLOAD_ERROR" %}
                {% if replay.replay_state != "REPLAY_AVAILABLE" %}
                    The replay was not available ({{ replay.replay_state }}) when we attempted to archive it.
                {% else %}
                There was a problem downloading this matches replay; it has been reported to the site admins to investigate.
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if replay.league_id%}
        <h2>{{ (replay.league_id|get_league_by_id)["name"] }}</h2>
        <p class="lead">{{ (replay.league_id|get_league_by_id)["description"] }}</p>
    {% endif %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
            <li><a href="#players" data-toggle="tab">Players</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overview">
                <dl class="dl-horizontal">
                    <dt>id</dt>
                    <dd>{{ replay.id }}</dd>
                    <dt>state</dt>
                    <dd>{{ replay.state }}</dd>
                    <dt>replay_state</dt>
                    <dd>{{ replay.replay_state }}</dd>
                    <dt>ratings</dt>
                    <dd>{{ replay.ratings }}</dd>
                    <dt>downloads</dt>
                    <dd>{{ replay.downloads.count() }}</dd>
                </dl>

                {% if replay.state not in ["WAITING_GC", "GC_ERROR"] %}
                    {% for column in replay.players|sort(attribute="player_slot")|slice(2) %}
                        {% set team_name =  replay.radiant_team_name if column[0].team == "Radiant" else replay.dire_team_name %}
                        {% set team_logo = replay["{}_team_logo".format(column[0].team.lower())] %}
                        <h4>
                            {{ column[0].team }}
                            {% if team_name is not none %}
                                -
                                {% if team_logo %}
                                    <img src="{{ (team_logo|get_file_by_ugcid).url }}" style="height:32px">
                                {% endif %}
                                {{ team_name }}
                            {% endif %}
                            {{" - WINNERS" if (column[0].team == "Radiant" and replay.good_guys_win) or (column[0].team == "Dire" and not replay.good_guys_win)  }}
                        </h4>
                        <table class="table table-striped table-bordered table-condensed endgame-table">
                            <thead>
                                <tr>
                                    <td class="col-md-2 col-sm-2">Hero</td>
                                    <td>Lvl</td>
                                    <td>K</td>
                                    <td>D</td>
                                    <td>A</td>
                                    <td class="col-md-3 col-sm-3">Items</td>
                                    <td>Gold</td>
                                    <td>LH</td>
                                    <td>DN</td>
                                    <td>GPM</td>
                                    <td>XPM</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for player in column %}
                                <tr>
                                    <td class="fancy-hero-background" style="background-image:url('{{ "http://media.steampowered.com/apps/dota2/images/heroes/{}_full.png".format((player.hero_id|get_hero_by_id)["name"].replace("npc_dota_hero_", "")) }}')">
                                        <span>{{ (player.hero_id|get_hero_by_id)["localized_name"] }}</span>

                                        <div class="btn-group">
                                            <a href="{{ (player.hero_id|get_hero_by_id)["localized_name"]|dotabuff_hero_link }}" class="btn btn-xs btn-dotabuff">Dotabuff</a>
                                            <a href="{{ (player.hero_id|get_hero_by_id)["localized_name"]|dota_wiki_link }}" class="btn btn-xs btn-wiki">Wiki</a>
                                        </div>
                                    </td>
                                    <td>{{ player.level }}</td>
                                    <td>{{ player.kills }}</td>
                                    <td>{{ player.deaths }}</td>
                                    <td>{{ player.assists }}</td>
                                    <td class="item-boxes">
                                        {% for item in player.items %}
                                            {% set current_item = item|get_item_by_id %}
                                            {% if not current_item %}
                                                <div class="item"></div>
                                            {% else %}
                                                <a href="{{ current_item["dname"]|dota_wiki_link }}" class="item">
                                                    <img src="http://media.steampowered.com/apps/dota2/images/items/{{ current_item["img"] }}"
                                                         alt="{{ current_item["dname"] }}" title="{{ current_item["dname"] }}">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ player.gold }}</td>
                                    <td>{{ player.last_hits }}</td>
                                    <td>{{ player.denies }}</td>
                                    <td>{{ player.gold_per_min }}</td>
                                    <td>{{ player.xp_per_min }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><em>Totals</em></td>
                                    <td>{{ column|map(attribute="kills")|sum }}</td>
                                    <td>{{ column|map(attribute="deaths")|sum }}</td>
                                    <td>{{ column|map(attribute="assists")|sum }}</td>
                                    <td></td>
                                    <td>{{ column|map(attribute="gold")|sum }}</td>
                                    <td>{{ column|map(attribute="last_hits")|sum }}</td>
                                    <td>{{ column|map(attribute="denies")|sum }}</td>
                                    <td>{{ column|map(attribute="gold_per_min")|sum }}</td>
                                    <td>{{ column|map(attribute="xp_per_min")|sum }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    {% endfor %}
                    <dl class="dl-horizontal">
                        <dt>Good guys win?</dt>
                        <dd>{{ replay.good_guys_win }}</dd>
                        <dt>Duration</dt>
                        <dd>{{ replay.duration|seconds_to_time }}</dd>
                        <dt>Start time</dt>
                        <dd>{{ replay.start_time|timestamp_to_datestring if replay.start_time }} UTC</dd>
                        <dt>Radiant Tower status</dt>
                        <dd>{{ replay.radiant_tower_status }}</dd>
                        <dt>Dire Tower status</dt>
                        <dd>{{ replay.dire_tower_status }}</dd>
                        <dt>Radiant Barracks status</dt>
                        <dd>{{ replay.radiant_barracks_status }}</dd>
                        <dt>Dire Barracks status</dt>
                        <dd>{{ replay.dire_barracks_status }}</dd>
                        <dt>First blood time</dt>
                        <dd>{{ replay.first_blood_time|seconds_to_time }}</dd>
                        <dt>Lobby type</dt>
                        <dd>{{ replay.lobby_type }}</dd>
                        <dt>Human players</dt>
                        <dd>{{ replay.human_players }}</dd>
                        <dt>Radiant Team ID</dt>
                        <dd>{{ replay.radiant_team_id }}</dd>
                        <dt>Dire Team ID</dt>
                        <dd>{{ replay.dire_team_id}}</dd>
                        <dt>League ID</dt>
                        <dd>{{ replay.league_id }}</dd>
                        <dt>Radiant team name</dt>
                        <dd>{{ replay.radiant_team_name}}</dd>
                        <dt>Dire team name</dt>
                        <dd>{{ replay.dire_team_name}}</dd>
                        <dt>Radiant team logo</dt>
                        <dd>{{ replay.radiant_team_logo }}</dd>
                        <dt>Dire team logo</dt>
                        <dd>{{ replay.dire_team_logo }}</dd>
                        <dt>Radiant team complete?</dt>
                        <dd>{{ replay.radiant_team_complete}}</dd>
                        <dt>Dire team complete?</dt>
                        <dd>{{ replay.dire_team_complete }}</dd>
                        <dt>Game mode</dt>
                        <dd>{{ replay.game_mode }}</dd>
                        <dt>Match Seq Num</dt>
                        <dd>{{ replay.match_seq_num}}</dd>
                        <dt>Radiant Guild ID</dt>
                        <dd>{{ replay.radiant_guild_id }}</dd>
                        <dt>Dire Guild ID</dt>
                        <dd>{{ replay.dire_guild_id}}</dd>
                        <dt>Radiant team tag</dt>
                        <dd>{{ replay.radiant_team_tag }}</dd>
                        <dt>Dire team tag</dt>
                        <dd>{{ replay.dire_team_tag}}</dd>
                        <dt>Series ID</dt>
                        <dd>{{ replay.series_id }}</dd>
                        <dt>Series type</dt>
                        <dd>{{ replay.series_type }}</dd>
                    </dl>

                    <p>TODO: Picks & Bans, additional player units'</p>
                {% endif %}
            </div>
            <div class="tab-pane" id="players">
                <pre>{{ replay.players|list|pprint }}</pre>
            </div>
        </div>
    </div>
{% endblock %}
