<nav id="replay-nav" class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="{{ "active" if "replays.replay" == request.endpoint  }}">
            <a href="{{ url_for("replays.replay", _id=replay.id) }}">Overview</a>
        </li>
        <li class="{{ "active" if "replays.download" == request.endpoint  }}">
            <a href="{{ url_for("replays.download", _id=replay.id) }}">Download</a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li>
            View match:
            <div class="btn-group">
                <a class="btn btn-default navbar-btn" href="{{ "dota2://match_id={}".format(replay.id) }}">
                    In-game
                </a>
                <a class="btn btn-default navbar-btn" href="{{ replay.id|dotabuff_match_link }}">
                    Dotabuff
                </a>
            </div>
        </li>
        <li>&nbsp;</li> {# Hack for button padding #}
    </ul>
</nav>
<ul>
    {% if current_user.is_authenticated() %}
    <li>
        <a href="{{ url_for("replays.replay_favourite", _id=replay.id, remove=(1 if replay.user_favourite() else 0)) }}">
            <span class="{{"" if replay.user_favourite() else "text-muted" }} glyphicon glyphicon-star"><sub>({{ replay.favourites|list|length }})</sub></span></a>
    </li>
    <li>
        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=1) }}">
            <span class="{{"" if replay.user_rating() and replay.user_rating().positive == True else "text-muted" }} glyphicon glyphicon-thumbs-up"><sub>({{ replay.ratings|selectattr("positive")|list|length }})</sub></span></a>
    </li>
    <li>
        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=0) }}">
            <span class="{{"" if replay.user_rating() and replay.user_rating().positive != True  else "text-muted" }} glyphicon glyphicon-thumbs-down"><sub>({{ replay.ratings|rejectattr("positive")|list|length }})</sub></span></a>
    </li>
    {% else %}
    <li>
        <span class="text-muted glyphicon glyphicon-star"><sub>({{ replay.favourites|list|length }})</sub></span>
    </li>
    <li>
        <span class="text-muted glyphicon glyphicon-thumbs-up"><sub>({{ replay.ratings|selectattr("positive")|list|length }})</sub></span>
    </li>
    <li>
        <span class="text-muted glyphicon glyphicon-thumbs-down"><sub>({{ replay.ratings|rejectattr("positive")|list|length }})</sub></span>
    </li>
    {% endif %}
</ul>
