{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
        <h1>Replay <small>{{ replay.id }}</small></h1>
        {% include "replays/replay_nav.html" %}

        <div class="row progress-tracker">
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.added_to_site_time else "todo" }}">Added to site</span>
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.gc_done_time else "todo" }}">Get match details</span>
            <span class="col-xs-4 progress-tracker-{{ "done" if replay.dl_done_time else "todo" }}">Archive replay</span>
        </div>
        <div class="row text-muted text-center">
            <span class="col-xs-4">{{ replay.added_to_site_time }}</span>
            <span class="col-xs-4">{{ replay.gc_done_time }}</span>
            <span class="col-xs-4">{{ replay.dl_done_time }}</span>
        </div>
    </div>

    {% if replay.state in ["WAITING_GC", "WAITING_DOWNLOAD", "DOWNLOAD_IN_PROGRESS"] %}
        <div class="alert alert-warning"><strong>I'm not ready!</strong> The replay is in limbo ({{ replay.state }}), check back soon.</div>
    {% elif replay.state in ["GC_ERROR", "DOWNLOAD_ERROR"] %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong>
            {% if replay.state == "GC_ERROR" %}
                There was a problem retrieving match details, this could be because the match was private, requires a tournament pass to access, or the match id is invalid.
            {% elif replay.state == "DOWNLOAD_ERROR" %}
                {% if replay.replay_state != "REPLAY_AVAILABLE" %}
                    The replay was not available ({{ replay.replay_state }}) when we attempted to archive it.
                {% else %}
                There was a problem downloading this matches replay; it has been reported to the site admins to investigate.
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    <div class="tab-pane active" id="overview">
        <dl class="dl-horizontal">
            <dt>id</dt>
            <dd>{{ replay.id }}</dd>
            <dt>state</dt>
            <dd>{{ replay.state }}</dd>
            <dt>replay_state</dt>
            <dd>{{ replay.replay_state }}</dd>
            <dt>ratings</dt>
            <dd>{{ replay.ratings }}</dd>
        </dl>
    </div>
{% endblock %}
