{% extends "layout.html" %}

{% set featured_players = entry.players|list %}

{% block content %}
    <div class="page-header">
        <h1>Hall of Fame <small><abbr title="gc week: {{ entry.week }}">Week {{ entry.adjusted_week }}</abbr></small></h1>
        <ul class="pager">
            <li class="previous {{ "disabled" if not pagination.has_prev }}"><a href="{{ url_for("hall_of_fame.hall_of_fame", week=pagination.prev_num) if pagination.has_prev else "" }}">&larr; Older</a></li>
            <li class="next {{ "disabled" if not pagination.has_next }}"><a href="{{ url_for("hall_of_fame.hall_of_fame", week=pagination.next_num) if pagination.has_next else "" }}">Newer &rarr;</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-6 text-center hall-of-fame-entry">
            <div class="well" style="background-image:url('{{ "http://media.steampowered.com/apps/dota2/images/heroes/{}_full.png".format((entry.farmer.hero_id|get_hero_by_id)["name"].replace("npc_dota_hero_", "")) }}')">
                <div class="btn-group">
                    <a href="{{ url_for("replays.replay", _id=entry.farmer.replay_id) }}" class="btn btn-default btn-xs">Replay</a>
                    <a href="dota2://match_id={{ entry.farmer.replay_id }}" class="btn btn-default btn-xs">In-game</a>
                </div>
                <span class="heading">
                    Featured farmer
                </span>
                <span class="info">
                        {{ (entry.farmer.hero_id|get_hero_by_id)["localized_name"] }},
                    {{ entry.farmer.gold_per_min }} GPM
                </span>
            </div>
        </div>
        {% for player in featured_players %}
            <div class="col-sm-6 col-md-3 text-center hall-of-fame-entry">
                <div class="well" style="background-image:url('{{ "http://media.steampowered.com/apps/dota2/images/heroes/{}_full.png".format((player.hero_id|get_hero_by_id)["name"].replace("npc_dota_hero_", "")) }}')">
                    <span class="heading">
                        Featured player
                    </span>
                    <span class="info">
                        {{ (player.hero_id|get_hero_by_id)["localized_name"] }},
                        {{ player.num_games }} games
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
