{% import "macros.html" as wtf %}

{% extends "layouts/standard.html" %}

{% block page_header %}
    <div class="page-header">
        {% include "users/user_nav.html" %}
    </div>
{% endblock %}

{% block top_ad %}
    {{ super() }}
    <hr/>
{% endblock %}

{% block bottom_ad %}
    <hr/>
    {{ super() }}
{% endblock %}

{% block content %}
    <form class="form-horizontal" role="form" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.horizontal_field(form.email) }}
        {{ wtf.horizontal_checkbox(form.show_ads) }}

        {{ wtf.horizontal_submit() }}
    </form>

{% endblock %}
