{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
        <h1>Users  <small>page {{ users.page }}</small></h1>
        <ul class="pager">
            <li class="previous {{ "disabled" if not users.has_prev }}"><a href="{{ url_for("users.users", page=users.prev_num) if users.has_prev else "" }}">&larr; Older</a></li>
            <li class="next {{ "disabled" if not users.has_next }}"><a href="{{ url_for("users.users", page=users.next_num) if users.has_next else "" }}">Newer &rarr;</a></li>
        </ul>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td>User ID</td>
                <td>Name</td>
                <td>First seen</td>
                <td>Last seen</td>
                <td>Premium?</td>
                <td>Searches</td>
                <td>Downloads</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td {{ "style=\"text-shadow: yellow 0px 0px 2px;\""|safe if user.is_premium }}><a href="{{ url_for("users.user", _id=user.id) }}">{{ user.name }}</a></td>
                    <td>{{ user.first_seen }} UTC</td>
                    <td>{{ user.last_seen }} UTC</td>
                    <td>{{ user.is_premium }}</td>
                    <td>{{ user.searches.count() }}</td>
                    <td>{{ user.downloads.count() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
