{% extends "layout.html" %}

{% block content %}
    {% include "users/user_nav.html" %}

    <dl class="dl-horizontal">
        <dt>First seen</dt>
        <dd>{{ user.first_seen }} UTC</dd>
        <dt>Last seen</dt>
        <dd>{{ user.last_seen }} UTC</dd>
        <dt>Premium?</dt>
        <dd>{{ user.is_premium }}</dd>
    </dl>
    <div class="row">
        <div class="col-sm-6">
            <h2><a href='{{ url_for("users.user_favourites", _id = user.id) }}'>Favourites</a></h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Replay ID</th>
                        <th>Replay</th>
                    </tr>
                </thead>
                <tbody>
                {% if favourites|length %}
                    {% for favourite in favourites %}
                        <tr>
                            <td>{{ favourite.created_at }}</td>
                            <td>{{ favourite.replay_id }}</td>
                            <td><a href="{{ url_for("replays.replay", _id=favourite.replay_id) }}" class="btn btn-xs btn-default">View replay</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-muted">
                            <em>No favourites</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h2><a href='{{ url_for("users.user_ratings", _id = user.id) }}'>Ratings</a></h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Replay ID</th>
                        <th>Positive?</th>
                        <th>Replay</th>
                    </tr>
                </thead>
                <tbody>
                {% if ratings|length %}
                    {% for rating in ratings %}
                        <tr>
                            <td>{{ rating.created_at }}</td>
                            <td>{{ rating.replay_id }}</td>
                            <td>{{ rating.positive }}</td>
                            <td><a href="{{ url_for("replays.replay", _id=rating.replay_id) }}" class="btn btn-xs btn-default">View replay</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-muted">
                            <em>No ratings</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2><a href='{{ url_for("users.user_searches", _id = user.id) }}'>Search history</a></h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Search query</th>
                        <th>Success</th>
                        <th>Replay</th>
                    </tr>
                </thead>
                <tbody>
                {% if searches|length %}
                    {% for search in searches %}
                        <tr>
                            <td>{{ search.created_at }}</td>
                            <td><em>{{ search.search_query }}</em></td>
                            <td>{{ search.success }}</td>
                            <td><a href="{{ url_for("replays.replay", _id=search.replay_id) if search.replay }}" class="btn btn-xs btn-default {{ "disabled" if not search.replay }}">View replay</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-muted">
                            <em>No search history</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h2><a href='{{ url_for("users.user_downloads", _id = user.id) }}'>Downloads</a></h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Replay ID</th>
                        <th>Replay</th>
                    </tr>
                </thead>
                <tbody>
                {% if downloads|length %}
                    {% for download in downloads %}
                        <tr>
                            <td>{{ download.created_at }}</td>
                            <td>{{ download.replay_id }}</td>
                            <td><a href="{{ url_for("replays.replay", _id=download.replay_id) }}" class="btn btn-xs btn-default">View replay</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-muted">
                            <em>No download history</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2><a href='{{ url_for("users.user_replays", _id = user.id) }}'>Replays</a></h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Hero</th>
                        <th>Replay ID</th>
                        <th>Replay state</th>
                        <th>Replay</th>
                    </tr>
                </thead>
                <tbody>
                {% if replays_participated|length %}
                    {% for participation_award in replays_participated %}
                        <tr>
                            <td>{{ participation_award.replay.start_time|timestamp_to_datestring }}</td>
                            <td>{{ (participation_award.hero_id|get_hero_by_id)["localized_name"] }}</td>
                            <td>{{ participation_award.replay_id }}</td>
                            <td>{{ participation_award.replay.state }}</td>
                            <td><a href="{{ url_for("replays.replay", _id=participation_award.replay_id) }}" class="btn btn-xs btn-default">View replay</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-muted">
                            <em>No replay history</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
