{% extends "bs_layout.html" %}
{% from "macros.html" import pagination %}

{% block content %}
    <div class="page-header">
        <h1>Users  <small>page {{ users.page }}</small></h1>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td>User ID</td>
                <td>Name</td>
                <td>First seen</td>
                <td>Last seen</td>
                <td>Premium?</td>
                <td>Searches</td>
                <td>Downloads</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td {{ "style=\"text-shadow: yellow 0px 0px 2px;\""|safe if user.is_premium }}><a href="{{ url_for("users.user", _id=user.id) }}">{{ user.name }}</a></td>
                    <td>{{ user.first_seen }} UTC</td>
                    <td>{{ user.last_seen }} UTC</td>
                    <td>{{ user.is_premium }}</td>
                    <td>{{ user.searches.count() }}</td>
                    <td>{{ user.downloads.count() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination(users, "users.users") }}
{% endblock %}
