{% extends "layout.html" %}

{% block content %}
    {% include "users/user_nav.html" %}

    <dl class="dl-horizontal">
        <dt>First seen</dt>
        <dd>{{ user.first_seen }} UTC</dd>
        <dt>Last seen</dt>
        <dd>{{ user.last_seen }} UTC</dd>
    </dl>

    <h2>Favourites</h2>
    <ul>
        {% for fav in user.favourites|list %}
            <li><a href="{{ url_for("replays.replay", _id=fav.replay_id) }}">{{ fav.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed up</h2>
    <ul>
        {% for rating in user.replay_ratings|selectattr("positive")|list %}
            <li><a href="{{ url_for("replays.replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed down</h2>
    <ul>
        {% for rating in user.replay_ratings|rejectattr("positive")|list %}
            <li><a href="{{ url_for("replays.replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
