<nav id="user-nav" class="navbar navbar-default">
    <div class="navbar-header">
        <span class="navbar-brand"><abbr title="{{ user.id }}">{{ user.name }}</abbr></span>
    </div>
    <ul class="nav navbar-nav">
        <li class="{{ "active" if "users.user" == request.endpoint }}">
            <a href="{{ url_for("users.user", _id=user.id) }}">Overview</a>
        </li>
        <li {{ "class=active" if "users.user_favourites" == request.endpoint }}><a href='{{ url_for("users.user_favourites", _id = user.id) }}'>Favourites</a></li>
        <li {{ "class=active" if "users.user_ratings" == request.endpoint }}><a href='{{ url_for("users.user_ratings", _id = user.id) }}'>Ratings</a></li>
        <li {{ "class=active" if "users.user_searches" == request.endpoint }}><a href='{{ url_for("users.user_searches", _id = user.id) }}'>Searches</a></li>
        <li {{ "class=active" if "users.user_downloads" == request.endpoint }}><a href='{{ url_for("users.user_downloads", _id = user.id) }}'>Downloads</a></li>
        <li {{ "class=active" if "users.user_replays" == request.endpoint }}><a href='{{ url_for("users.user_replays", _id = user.id) }}'>Replays</a></li>
        <li {{ "class=active" if "users.user_aliases" == request.endpoint }}><a href='{{ url_for("users.user_aliases", _id = user.id) }}'>Replay Aliases</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li>
            <div class="form">
                <a class="btn btn-default navbar-btn" href='http://steamcommunity.com/profiles/{{ user.steam_id }}'>Steam</a>
                {% if current_user.id == user.id %}
                    <a class="btn btn-default navbar-btn {{ "disabled" if "users.settings" == request.endpoint }}" href="{{ url_for("users.settings", _id=user.id) }}">Settings</a>
                    <a class="btn btn-default navbar-btn" href="{{ url_for("users.logout") }}">Logout</a>
                {% endif %}
            </div>
        </li>
        {% if current_user.is_admin() %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">YOU'RE AN ADMIN!<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('userview.edit_view', id=user.id) }}">Edit</a></li>
                <li><a href="{{ url_for('users.update_name', _id=user.id) }}">Update name from Steam</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
