<nav id="user-nav" class="navbar navbar-default">
    <div class="navbar-header">
        <span class="navbar-brand"><abbr title="{{ user.id }}">{{ user.name }}</abbr></span>
    </div>
    <ul class="nav navbar-nav">
        <li class="{{ "active" if "users.user" == request.endpoint }}"">
            <a href="{{ url_for("users.user", _id=user.id) }}">Profile</a>
        </li>
    </ul>
    {% if current_user.id == user.id %}
        <ul class="nav navbar-nav pull-right">
            <li>
                <div class="form">
                    <a class="btn btn-default navbar-btn {{ "disabled" if "users.settings" == request.endpoint }}" href="{{ url_for("users.settings", _id=user.id) }}">Settings</a>
                    <a class="btn btn-default navbar-btn" href="{{ url_for("users.logout") }}">Logout</a>
                </div>
            </li>
            <li>&nbsp;</li> <!-- Padding hack -->
        </ul>
    {% endif %}
</nav>
