{% extends "layout.html" %}

{% block content %}
    {% include "users/user_nav.html" %}

    <dl class="dl-horizontal">
        <dt>First seen</dt>
        <dd>{{ user.first_seen }} UTC</dd>
        <dt>Last seen</dt>
        <dd>{{ user.last_seen }} UTC</dd>
    </dl>

    <h2>Favourites</h2>
    <ul>
        {% for fav in user.favourites|list %}
            <li><a href="{{ url_for("replays.replay", _id=fav.replay_id) }}">{{ fav.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed up</h2>
    <ul>
        {% for rating in user.replay_ratings|selectattr("positive")|list %}
            <li><a href="{{ url_for("replays.replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed down</h2>
    <ul>
        {% for rating in user.replay_ratings|rejectattr("positive")|list %}
            <li><a href="{{ url_for("replays.replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Search history</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Search query</th>
                <th>Success</th>
                <th>Replay</th>
            </tr>
        </thead>
        <tbody>
        {% if user.searches.count() > 0 %}
            {% for search in user.searches %}
                <tr>
                    <td>{{ search.created_at }}</td>
                    <td><em>{{ search.search_query }}</em></td>
                    <td>{{ search.success }}</td>
                    <td><a href="{{ url_for("replays.replay", _id=search.replay.id) if search.replay }}" class="btn btn-xs btn-default {{ "disabled" if not search.replay }}">View replay</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-muted">
                    <em>No search history</em>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>Downloads</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Replay ID</th>
                <th>Replay</th>
            </tr>
        </thead>
        <tbody>
        {% if user.downloads.count() > 0 %}
            {% for download in user.downloads %}
                <tr>
                    <td>{{ download.created_at }}</td>
                    <td>{{ download.replay_id }}</td>
                    <td><a href="{{ url_for("replays.replay", _id=download.replay.id) }}" class="btn btn-xs btn-default">View replay</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-muted">
                    <em>No download history</em>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
