{% from "macros.html" import iconic, pagination %}
{% extends "layout.html" %}

{% block content %}
    <div class="pull-right thumbnail">
        <img src="{{ league.icon }}" alt="{{ league.name }}"/>
    </div>
    <div class="page-header">
        <h1>{{ league.name }}</h1>
        <p class="lead">{{ league.description }}</p>
        <a class="btn {{'btn-ti4' if league.id==600 else 'btn-primary' }}" href="{{ league.tournament_url }}" target="_blank">{{'View The International 2014 announcement' if league.id==600 else 'Visit tournament website' }}</a>
    </div>


    <h2>Replays archived from this league</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>&nbsp;</th>
                <th>Radiant</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Dire</th>
                <th>Played</th>
                <th><abbr title="Favourite">Fav.</abbr></th>
                <th>Rating</th>
                <th>State</th>
                {% if current_user.is_authenticated() %}
                <th>&nbsp;</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for replay in replays.items %}
                <tr>
                    <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a></td>
                    <td>
                        {% if replay.radiant_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.radiant_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.radiant_team_id %}
                            <a href="{{url_for('teams.team', _id=replay.radiant_team_id)}}">{{replay.radiant_team_name}}</a>
                        {% else %}
                            Radiant
                        {% endif %}
                    </td>
                    <td>vs</td>
                    <td>
                        {% if replay.dire_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.dire_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.dire_team_id %}
                            <a href="{{url_for('teams.team', _id=replay.dire_team_id)}}">{{replay.dire_team_name}}</a>
                        {% else %}
                            Dire
                        {% endif %}
                    </td>
                    <td>
                        {{replay.start_time|timestamp_to_datestring}}
                    </td>
                    {% if current_user.is_authenticated() %}
                    <td>
                        <a href="{{ url_for("replays.replay_favourite", _id=replay.id, remove=(1 if replay.user_favourite() else 0)) }}">
                            <span class="{{"" if replay.user_favourite() else "text-muted" }}">
                                {{ iconic('star', class='iconic-sm') }}
                                <sub>({{ replay.favourites|list|length }})</sub>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=1) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive == True else "text-muted" }}">
                                {{ iconic('thumb', state="up", class='iconic-sm') }}
                                <sub>({{ replay.ratings|selectattr("positive")|list|length }})</sub>
                            </span>
                        </a>&nbsp;
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=0) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive != True  else "text-muted" }}">
                                {{ iconic('thumb', state="down", class='iconic-sm') }}
                                <sub>({{ replay.ratings|rejectattr("positive")|list|length }})</sub>
                            </span>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <span class="text-muted">
                            {{ iconic('star', class='iconic-sm') }}
                            <sub>({{ replay.favourites|list|length }})</sub>
                        </span>
                    </td>
                    <td>
                        <span class="text-muted">
                            {{ iconic('thumb', state="up", class='iconic-sm') }}
                            <sub>({{ replay.ratings|selectattr("positive")|list|length }})</sub>
                        </span>&nbsp;
                        <span class="text-muted">
                            {{ iconic('thumb', state="down", class='iconic-sm') }}
                            <sub>({{ replay.ratings|rejectattr("positive")|list|length }})</sub>
                        </span>
                    </td>
                    {% endif %}
                    <td>{{ replay.state }}</td>
                    {% if current_user.is_authenticated() %}
                    <td>
                        <a class="btn btn-default btn-xs {{ "disabled" if not replay.local_uri else "" }}" href="{{ url_for("replays.download", _id=replay.id) }}">Download</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination(replays, "leagues.league", {'_id': league.id}) }}
{% endblock %}
