{% extends "layouts/standard.html" %}

{% from "macros.html" import iconic, pagination %}
{% from "replays/macros/replays_table.html" import render_table %}

{% block page_header %}
    <div class="pull-right thumbnail">
        <img src="{{ league.icon }}" alt="{{ league.name }}"/>
    </div>

    <div class="page-header">
        <h1>{{ league.name }}</h1>
        <p class="lead">{{ league.description }}</p>
        <a class="btn {{'btn-ti4' if league.id==600 else 'btn-primary' }}" href="{{ league.tournament_url }}" target="_blank">{{'View The International 2014 announcement' if league.id==600 else 'Visit tournament website' }}</a>

    </div>

    <nav id="league-view-nav" class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="{{ "active" if current_view == None }}">
                <a href="{{ url_for("leagues.league", _id=league.id) }}">All replays</a>
            </li>
            {% for view in views %}
                <li class="{{ "active" if current_view != None and view.id == current_view.id }}">
                    <a href="{{ url_for("leagues.league", _id=league.id, view=view.id) }}">{{ view.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block top_ad %}
    {# Add a HR above and below the ad #}
    <hr/>
    {{ super() }}
    <hr/>
{% endblock %}

{% block bottom_ad %}
    {# Add a HR above the ad #}
    <hr/>
    {{ super() }}
{% endblock %}

{% block content %}
    {{ render_table(replays.items) }}
    {{ pagination(replays, "leagues.league", {'_id': league.id} if current_view == None else {'_id': league.id, 'view': current_view.id}) }}
{% endblock %}
