{% extends "layouts/standard.html" %}
{% from "macros.html" import iconic, pagination %}
{% from "leagues/macros.html" import league_card %}

{% block page_header %}
    <section class="page-header">
        <h1>Leagues</h1>
    </section>
{% endblock %}

{% block content %}
    <section class="leagues-page">
        <p>Leagues which do not have any matches archived on Dotabank are excluded from this list. <b>Some league matches can be downloaded freely, but not viewed in-client unless you own own the <a href="http://www.dota2.com/store#cat=3837590211">relevant league ticket</a>.</b></p>

        <p>Ordered by download count</p>

        <div class="cards">
            {% for league in leagues %}
                {{ league_card(league) }}
            {% endfor %}
        </div>
    </section>
{% endblock %}
