$dropdown-color: $base-font-color;
$dropdown-border: 1px solid silver;
$dropdown-background: desaturate(darken($base-accent-color, 20), 30);
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-menu-background: desaturate(darken($dropdown-background, 5), 15);
$dropdown-menu-background-hover: darken($dropdown-menu-background, 3);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

.dropdown {
  text-align: center;
}

.dropdown-container {
  display: inline-block;
  position: relative;

  &:hover .menu {
    display: block;
  }
}

.dropdown-button {
  background: $dropdown-background;
  border: $dropdown-border;
  border-radius: $base-border-radius;
  cursor: pointer;
  float: right;
  font-size: .7em;
  font-weight: 800;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding * 3.5) 0 ($dropdown-padding);
  position: relative;

  @include media($large-screen) {
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding);
  }
}

.dropdown-button:hover{
  background-color: $dropdown-background-hover;
}

.dropdown-button:after {
  color: $base-font-color;
  content: "\25BE";
  display: block;
  position: absolute;
  right: $dropdown-padding;
  top: $dropdown-arrow-top-distance;
}

.menu {
  @include transition (all 0.2s ease-in-out);
  background: $dropdown-menu-background;
  border-radius: $base-border-radius;
  border: $dropdown-border;
  box-shadow: 0 2px 2px transparentize(black, .8);
  color: $dropdown-color;
  cursor: pointer;
  display: none;
  overflow: show;
  position: absolute;
  right: 0;
  top: $dropdown-distance-from-menu;
  width: 228px;
  z-index: 99999;

  &:hover {
    display: block;
  }
}

.menu li {
  border-bottom: $dropdown-inner-border;
  color: $dropdown-color;
  padding: $dropdown-padding / 2;

  &.divider {
    padding: 1px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.menu li:hover {
  background: $dropdown-menu-background-hover;
}

.menu li:first-child {
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
}

.menu li:last-child {
  border: none;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}
