.hero {
  $hero-background: desaturate(darken($base-accent-color, 20), 30);
  $hero-color: white;

  background: $hero-background url('../img/hero_background.jpg') no-repeat center;
  background-size: cover;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;


    .hero-logo {
      @include span-columns(12);
      margin-bottom: 1em;

      img {
        height: 3em;
      }
    }


    .hero-copy {
      @include span-columns(6);
      @include shift(3);
      text-align: center;

      margin: 1.5em auto;
      font-weight: 200;

      @include media($large-screen) {
        font-size: 1.2em;
      }
    }

    .hero-action {
      @include span-columns(6);
      @include shift(3);
    }
  }
}
