.navbar {
    /* To ensure nav dropdowns are drawn on top; surprised this isn't default */
    z-index: 990;
    position: static;
}

.dropdown {
    cursor:default;
}

#admin-navbar {
    margin-bottom: 0;
}

.btn-inverse {
    color: hsl(0, 100%, 100%);
    background-color: hsl(0, 0%, 22%);
    border-color: hsl(0, 0%, 15%);
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
    color: hsl(0, 100%, 100%);
    background-color: hsl(0, 0%, 15%);
    border-color: hsl(0, 0%, 15%);
}

#footer {
    font-size: small;
}

.progress-tracker {
    padding-bottom: 20px;
}

.progress-tracker .progress-tracker-done,
.progress-tracker .progress-tracker-todo {

    display: inline-block;
    text-align: center;
    line-height: 3em;
}

.progress-tracker .progress-tracker-done:before,
.progress-tracker .progress-tracker-todo:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

.progress-tracker .progress-tracker-done:after,
.progress-tracker .progress-tracker-todo:after {
    content: "\00a0\00a0";
}

.progress-tracker .progress-tracker-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
.progress-tracker .progress-tracker-todo {
    color: silver;
    border-bottom: 4px solid silver;
}
.progress-tracker .progress-tracker-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
.progress-tracker .progress-tracker-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

.item {
    display:inline-block;
    width:40px;
    height:30px;
    background:lightgray;
    vertical-align:bottom;
    border-radius:3px;
    margin:2px 2px 2px 2px;
}

.item > img {
    height:30px;
    border-radius:3px;
}

.jumbotron dt {
    width: 240px;
}

.jumbotron dd {
    margin-left: 260px;
}

.jumbotron hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #fff;
}

.hall-of-fame-entry .well {
    padding-bottom: 0;
    background-size: cover;
    background-position: center;
}

.hall-of-fame-entry span.heading {
    display: block;
    padding: 4px;
    height: 28px;
    font-weight: bold;
    width: 128px;

    background: rgba(245, 245, 245, 0.75);
    border: 1px solid rgba(227, 227, 227, 0.75);
    border-radius: 4px 0 4px 0;
    text-shadow: 0 0 2px #fff;

    margin-top: -20px;
    margin-left: -20px;
    margin-bottom:135px;
}

.hall-of-fame-entry span.info {
    display: block;
    margin: 20px -19px 0;
    padding: 4px;
    height: 28px;
    overflow: hidden;

    background: rgba(245, 245, 245, 0.75);
    border-top: 1px solid rgba(227, 227, 227, 0.75);
    text-shadow: 0 0 2px #fff;
}

.hall-of-fame-entry div.btn-group {
    display: block;
    margin: -18px -18px 0;
    padding: 4px;
    height: 28px;
}


.hall-of-fame-entry .btn-group {
    float: right;
}


.endgame-table .fancy-hero-background {
    background-size:100%;
    background-position:center;
    padding:0;
    background-repeat:no-repeat;
    min-width:100px;
    position:relative;
}

.endgame-table .fancy-hero-background span {
    text-shadow: 0 0 2px #000;
    font-weight: bold;
    color: #fff;
    width: 100%;
    display: block;
    padding:5px;
    min-height:70px;
}

.endgame-table .fancy-hero-background .btn-group {
    position:absolute;
    bottom:0;
}

.label-premium,
.badge-premium {
    background-color: #6fb04a;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.label-dotabuff-plus,
.badge-dotabuff-plus {
    background-color: #f00;
    color: white;
}

.btn-dotabuff {
    background-color: #f00;
    color: white;
}

.btn-dotabuff:hover {
    background-color: #f44;
    color: white;
}

.btn-wiki {
    background-color: #333;
    color: #ffaf48;
    text-shadow: 1px 1px 0px #000;
}
.btn-wiki:hover {
    background-color: #444444;
    color: #ffd7a6;
    text-shadow: 1px 1px 0px #000;
}

table > tbody > tr > td.item-cell {
    vertical-align:middle;
}

.item-boxes {
    text-align:center;
    min-width:150px;
    font-size:0;
    margin:auto;
}
.navbar-btn:last-of-type {
    margin-right:8px;
}
@media (max-width: 991px) {
    .endgame-table .fancy-hero-background {
        background-size:auto 100%;
    }
}
@media (max-width: 1199px) {
    .item-boxes {
        width:150px;
        min-width:150px;
    }
}
.endgame-table td {
    min-width:48px;
}