@import "normalize"
@import "../bower/bourbon/dist/bourbon"
@import "bitters/bitters"
@import "../bower/neat/app/assets/stylesheets/neat"
@import mixins/omega-reset
@import mixins/horizontal-list

// General layout
@import ads
@import nav
@import hero
@import footer
@import pagination
@import flash
@import dropdown

// Forms
@import forms

// Sections
main > section
  @include outer-container
  padding: $base-line-height

  &.replay-tables
    > section
      @include span-columns(6)
      @include omega(2n)


// Buttons
a.button
  @include button(simple, $base-accent-color)

p.footnote
  font-size: $base-font-size * 0.75
  color: darken($base-font-color, 50%)
  text-align: center

.footer
  p.version
    font-size: x-small
