{% extends 'admin/master.html' %}

{% block body %}
    <h2>Replays with human_players discrepancy</h2>
    <table class="table">
    <thead>
    <tr>
        <th>Replay ID</th>
        <th>Human players</th>
        <th>Player count (excluding bots)</th>
    </tr>
    </thead>
    <tbody>
    {% if human_players_discrepancy|length > 0 %}
        {% for replay in human_players_discrepancy %}
            <tr>
                <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                <td>{{ replay.human_players }}</td>
                <td>{{ replay.player_count }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3" class="text-muted">No broke replays :D</td>
        </tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}
