{% extends 'admin/master.html' %}

{% block body %}
    <div class="panel panel-default text-center">
        <div class="panel-heading">Match requests</div>
        <div class="panel-body">
            <canvas id="match-requests-gauge"></canvas>
            <div class="clearfix"></div>
            <span class="match-requests-past-24hrs">{{ stats|map(attribute='match_requests_past_24hrs')|sum }}</span> / <span class="match-requests-capacity text-muted">{{ stats|map(attribute='match_requests_capacity')|sum }} per 24hrs</span>
        </div>
    </div>

    <div class="row">
    {% for worker in stats %}
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">{{ worker['display_name'] }}</div>
                <div class="panel-body">
                    <canvas id="worker-{{ worker['id'] }}-match-requests-gauge"></canvas>
                    <div class="clearfix"></div>
                    <span class="worker-{{ worker['id'] }}-match-requests-past-24hrs">{{ worker['match_requests_past_24hrs'] }}</span> / <span class="worker-{{ worker['id'] }}-match-requests-capacity text-muted">{{ worker['match_requests_capacity'] }} per 24hrs</span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {# Current admin templates don't have a "scripts" block in master layout. #}
    <script src="{{ url_for('static', filename='js/gauge.min.js') }}"></script>
    <script>
        var opts = {
          lines: 12, // The number of lines to draw
          angle: 0.15, // The length of each line
          lineWidth: 0.44, // The line thickness
          pointer: {
            length: 0.9, // The radius of the inner circle
            strokeWidth: 0.035, // The rotation offset
            color: '#000000' // Fill color
          },
          limitMax: 'false',   // If true, the pointer will not go past the end of the gauge

          colorStart: '#6FADCF',   // Colors
          colorStop: '#8FC0DA',    // just experiment with them
          strokeColor: '#E0E0E0',   // to see which ones work best for you
          generateGradient: true
        };

        // Match reqs
        var gauge = new Gauge(document.getElementById('match-requests-gauge')).setOptions(opts); // create sexy gauge!
        gauge.maxValue = {{ stats|map(attribute='match_requests_capacity')|sum }}; // set max gauge value
        gauge.set({{ stats|map(attribute='match_requests_past_24hrs')|sum }}); // set actual value

        {% for worker in stats %}
            var worker_{{ worker['id'] }}_gauge = new Gauge(document.getElementById('worker-{{ worker['id'] }}-match-requests-gauge')).setOptions(opts); // create sexy gauge!
            worker_{{ worker['id'] }}_gauge.maxValue = {{ worker['match_requests_capacity'] }}; // set max gauge value
            worker_{{ worker['id'] }}_gauge.set({{ worker['match_requests_past_24hrs'] }}); // set actual value
        {% endfor %}
    </script>
{% endblock %}
