{% from "macros.html" import arcana_logo %}

<header class="navigation admin-navigation">
    <div class="menu-wrapper">
        <a href="{{ url_for('index') }}" class="logo">
            {{ arcana_logo() }}
        </a>

        <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>

        <div class="nav">
            <ul id="navigation-menu">

                {% for item in g.admin.menu() %}

                    {% if item.is_category() %}

                        {% set children = item.get_children() %}
                        {% if children %}

                            <li class="more {{ "active-nav-item" if item.is_active(g.admin) else "" }}">
                                <a href="javascript:void(0)">{{ item.name }}</a>
                                <ul class="submenu">
                                    {% for child in children %}
                                        <li class="{{ "active-nav-item" if child.is_active(g.admin) else "" }}">
                                            <a href="{{ child.get_url() }}">{{ child.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                    {% else %}

                        {% if item.is_accessible() and item.is_visible() %}
                            <li class="{{ "active-nav-item" if item.is_active(g.admin) else "" }}">
                                <a href="{{ item.get_url() }}">{{ item.name }}</a>
                            </li>
                        {% endif %}

                    {% endif %}

                {% endfor %}

            </ul>
        </div>
    </div>
</header>
