{% extends "layout.html" %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <td>Replay ID</td>
                <td>Rating</td>
                <td>State</td>
                <td>Replay state</td>
                <td>URL</td>
            </tr>
        </thead>
        <tbody>
            {% for replay in latest_replays %}
                <tr>
                    <td><a href="{{ url_for("replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                    <td>
                        <a href="{{ url_for("replay_rate", _id=replay.id, positive=1) }}">
                            <span class="rating {{"" if replay.user_rating and replay.user_rating.positive == True else "text-muted" }} glyphicon glyphicon-thumbs-up"> ({{ replay.ratings|selectattr("positive")|list|length }})</span>
                        </a>
                        &nbsp;
                        <a href="{{ url_for("replay_rate", _id=replay.id, positive=0) }}">
                            <span class="rating {{"" if replay.user_rating and replay.user_rating.positive != True  else "text-muted" }} glyphicon glyphicon-thumbs-down"> ({{ replay.ratings|rejectattr("positive")|list|length }})</span>
                        </a>
                    </td>
                    <td>{{ replay.state }}</td>
                    <td>{{ replay.replay_state }}</td>
                    <td>{{ replay.url }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
