{% extends "layout.html" %}

{% block content %}
    <nav id="user-nav" class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand"><abbr title="{{ user.id }}">{{ user.name }}</abbr></span>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="">Something idk</a>
            </li>
        </ul>
        {% if current_user.id == user.id %}
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class="form">
                        <a class="btn btn-default navbar-btn" href="{{ url_for("logout") }}">Logout</a>
                    </div>
                </li>
                <li>&nbsp;</li> <!-- Padding hack -->
            </ul>
        {% endif %}
    </nav>

    <h2>Favourites</h2>
    <ul>
        {% for fav in user.favourites|list %}
            <li><a href="{{ url_for("replay", _id=fav.replay_id) }}">{{ fav.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed up</h2>
    <ul>
        {% for rating in user.replay_ratings|selectattr("positive")|list %}
            <li><a href="{{ url_for("replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

    <h2>Thumbed down</h2>
    <ul>
        {% for rating in user.replay_ratings|rejectattr("positive")|list %}
            <li><a href="{{ url_for("replay", _id=rating.replay_id) }}">{{ rating.replay_id }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
