{% extends "layouts/standard.html" %}
{% from "macros.html" import contact_email %}

{% block page_header %}
    <div class="page-header">
        {% include "users/user_nav.html" %}
    </div>
{% endblock %}

{% block top_ad %}
    {# Hide ads #}
{% endblock %}

{% block bottom_ad %}
    {# Hide ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Current subscription</h2>

        {% if not current_subscription %}
            <p class="lead">You do not have a Dotabank subscription.</p>

            <form id="newCardDetailsForm" action="{{ url_for('subscriptions.change_subscription') }}" method="POST">
                {% if not user.get_stripe_customer() %}
                    {# If these fields are here we need to take card deets. #}
                    <input type="hidden" id="newCardDetailsToken" name="newCardDetailsToken"/>
                    <input type="hidden" name="newCardDetailsEmail" id="newCardDetailsEmail" value="{{ user.email }}"/>
                {% endif %}
                <div class="input-group">
                        <select class="form-control" name="newSubscription" id="newSubscription">
                            {% for code, plan in plans %}
                                <option value="{{ code }}" data-name="{{ plan['name'] }}" data-amount="{{ plan['amount'] }}">{{ plan['name'] }} &ndash; &dollar;{{ plan['amount'] }}/mo</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="newCardDetailsButton">Subscribe</button>
                    </span>
                </div>
            </form>
        {% else %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Subscription</th>
                    <th>Created at</th>
                    <th>Expires at</th>
                    <th>Auto-renew?</th>
                </tr>
                </thead>
            <tbody>
            <tr>
                <td>
                    <form id="updateSubscriptionForm" action="{{ url_for('subscriptions.change_subscription') }}" method="POST">
                        <select class="form-control" name="newSubscription" id="updateSubscription"
                                data-current-code="{{ current_subscription.plan_id }}"
                                data-current-name="{{ current_subscription.plan['name'] }}"
                                data-current-amount="{{ current_subscription.plan['amount'] }}">
                            {% for code, plan in plans %}
                                <option value="{{ code }}" data-name="{{ plan['name'] }}" data-amount="{{ plan['amount'] }}" {{ "selected=\"selected\"" if code == current_subscription.plan_id else "" }}>{{ plan['name'] }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td>{{ current_subscription.created_at|datetime_to_datestring }}</td>
                <td>{{ current_subscription.expires_at|datetime_to_datestring }}</td>
                {% if current_subscription.auto_renew %}
                    <td>Yes (<a href="{{ url_for('index') }}">Disable</a>)</td> {# TODO #}
                {% else %}
                    <td>No (<a href="{{ url_for('index') }}">Enable</a>)</td> {# TODO #}
                {% endif %}
            </tr>
            </tbody>
            </table>

            <p><em>To <strong>cancel</strong> your subscription simply disable auto-renew and you will not be
                charged when your current subscription ends.</em></p>
        {% endif %}

        <h2>All subscriptions</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Subscription</th>
                <th>Created at</th>
                <th>Expires at</th>
            </tr>
            </thead>
        <tbody>
        {% if all_subscriptions|length > 0 %}
        {% for sub in all_subscriptions %}
        <tr>
            <td>{{ sub.plan['name']}}</td>
            <td>{{ sub.created_at|datetime_to_datestring }}</td>
            <td>{{ sub.expires_at|datetime_to_datestring }}</td>
        </tr>
        {% endfor %}
            {% else %}
            <tr>
                <td colspan="3"><em>No past subscriptions</em></td>
            </tr>
            {% endif %}
        </tbody>
        </table>

        </div>

        <div class="col-md-6">
            <h2>Payment details</h2>
            {% if not customer %}
                <p>We don't have any payment details stored for you.</p>

                <form id="updateCardDetailsForm" method="POST" action="{{ url_for('subscriptions.update_card') }}">
                    <input type="hidden" id="updateCardDetailsToken" name="updateCardDetailsToken"/>
                    <input type="hidden" name="updateCardDetailsEmail" id="updateCardDetailsEmail" value="{{ user.email }}"/>
                </form>

                <button id="updateCardDetailsButton" class="btn btn-primary">Update payment details</button>
            {% else %}
                <form id="updateCardDetailsForm" method="POST" action="{{ url_for('subscriptions.update_card') }}">
                    <input type="hidden" id="updateCardDetailsToken" name="updateCardDetailsToken"/>
                    <input type="hidden" name="updateCardDetailsEmail" id="updateCardDetailsEmail" value="{{ customer.email }}"/>
                    <dl class="dl-horizontal">
                        <dt>Invoice E-mail:</dt>
                        <dd><code>{{ customer.email }}</code></dd>
                        <dt>Card number:</dt>
                        <dd><code>xxxx-xxxx-xxxx-{{ customer.cards.data[0].last4 }}</code></dd>
                        <dt>Card expires:</dt>
                        <dd>{{ customer.cards.data[0].exp_month }} / {{ customer.cards.data[0].exp_year }}</dd>
                        <dt>Card type:</dt>
                        <dd>{{ customer.cards.data[0].brand }}</dd>
                        <dt>Card country:</dt>
                        <dd>{{ customer.cards.data[0].country }}</dd>
                    </dl>
                </form>

                <button id="updateCardDetailsButton" class="btn btn-primary">Update payment details</button>
            {% endif %}

            {# TODO #}
            <h2>Payment history</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date received</th>
                    <th>Credit card</th>
                    <th>Receipt</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&dollar;19.99</td>
                    <td>2014-01-01 00:00:00</td>
                    <td><code>xxxx-xxxx-xxxx-1234</code></td>
                    <td><a href="{{ url_for('index') }}">Receipt</a></td>
                </tr>
                <tr>
                    <td>&dollar;19.99</td>
                    <td>2014-02-01 00:00:00</td>
                    <td><code>xxxx-xxxx-xxxx-1234</code></td>
                    <td><a href="{{ url_for('index') }}">Receipt</a></td>
                </tr>
                <tr>
                    <td>&dollar;19.99</td>
                    <td>2014-03-01 00:00:00</td>
                    <td><code>xxxx-xxxx-xxxx-1234</code></td>
                    <td><a href="{{ url_for('index') }}">Receipt</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p>Have any questions about your subscription?  Email us at {{ contact_email() }}</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

    <!-- Update card details -->
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
        // UPDATE PAYMENT DEETS
        var updateCardDetailsForm = jQuery('#updateCardDetailsForm'),
            updateCardTokenInput = updateCardDetailsForm.find('#updateCardDetailsToken'),
            updateCardEmailInput = updateCardDetailsForm.find('#updateCardDetailsEmail');

        var updateCardDetailsHandler = StripeCheckout.configure({
            key: '{{ config['STRIPE_DEBUG_PUBLISHABLE_KEY'] if config['DEBUG'] else config['STRIPE_PROD_PUBLISHABLE_KEY'] }}',
            token: function (token) {
                // Use the token to create the charge with a server-side script.
                updateCardTokenInput.val(token.id);
                updateCardEmailInput.val(token.email);
                updateCardDetailsForm.submit();
            }
        });

        document.getElementById('updateCardDetailsButton').addEventListener('click', function (e) {
            // Open Checkout with further options
            updateCardDetailsHandler.open({
                name: 'Update payment details',
                email: updateCardEmailInput.val(),
                panelLabel: 'Update payment details'
            });
            e.preventDefault();
        });

        // NEW PAYMENT DEETS
        if (jQuery('#newCardDetailsEmail').length === 1) {
            var newCardDetailsForm = jQuery('#newCardDetailsForm'),
                newCardTokenInput = newCardDetailsForm.find('#newCardDetailsToken'),
                newCardEmailInput = newCardDetailsForm.find('#newCardDetailsEmail'),
                newSubscription = newCardDetailsForm.find('#newSubscription');

            var newCardDetailsHandler = StripeCheckout.configure({
                key: '{{ config['STRIPE_DEBUG_PUBLISHABLE_KEY'] if config['DEBUG'] else config['STRIPE_PROD_PUBLISHABLE_KEY'] }}',
                token: function (token) {
                    // Use the token to create the charge with a server-side script.
                    newCardTokenInput.val(token.id);
                    newCardEmailInput.val(token.email);
                    newCardDetailsForm.submit();
                }
            });

            document.getElementById('newCardDetailsButton').addEventListener('click', function (e) {
                // Get plan data
                var plan = newSubscription.find('option:selected');

                // Open Checkout with further options
                newCardDetailsHandler.open({
                    name: 'Dotabank Subscription',
                    email: newCardEmailInput.val(),
                    panelLabel: 'Subscribe',
                    description: plan.data('name') + ' $' + plan.data('amount') + '/mo',
                    amount: parseInt(parseFloat(plan.data('amount')) * 100, 10)
                });
                e.preventDefault();
            });
        }

        // UPGRADING OR DOWNGRADING SUBCRIPTION
    if (jQuery('#updateSubscriptionForm').length === 1)
    {
        var updateSubscriptionForm = jQuery('#updateSubscriptionForm'),
            updateSubscriptionSelect = jQuery('#updateSubscription');

        updateSubscriptionSelect.change(function(e){
            var plan = updateSubscriptionSelect.find(':selected'),
                is_upgrade = plan.data('amount') > updateSubscriptionSelect.data('current-amount'),
                message;

            if (updateSubscriptionSelect.val() == updateSubscriptionSelect.data('current-code'))
            {
                // Don't need to do anything: Plan selected is current plan.
                return;
            }

            if (is_upgrade) {
                message = "<p>Are you sure you want to upgrade your plan from <strong>" +
                        updateSubscriptionSelect.data('current-name') + "</strong> (&dollar;" +
                        updateSubscriptionSelect.data('current-amount') + "/mo) to " +
                        "<strong>" + plan.data('name') + "</strong> (&dollar;" + plan.data('amount') + "/mo)?</p>" +
                        "<p>You will be charged the difference in price between your existing and new subscription at" +
                        " your next billing cycle.</p>";
            }
            else {
                message = "<p>Are you sure you want to upgrade your plan from <strong>" +
                        updateSubscriptionSelect.data('current-name') + "</strong> (&dollar;" +
                        updateSubscriptionSelect.data('current-amount') + "/mo) to " +
                        "<strong>" + plan.data('name') + "</strong> (&dollar;" + plan.data('amount') + "/mo)?</p>" +
                        "<p>You will be credited the difference in price between your existing and new subscription.</p>";
            }

            bootbox.dialog({
                message: message,
                title: "Change subscription",
                buttons: {
                    cancel: {
                        label: "Cancel",
                        className: "btn-default",
                        callback: function () {
                            // Reset select box
                            updateSubscriptionSelect.val(updateSubscriptionSelect.data('current-code'));
                        }
                    },
                    main: {
                        label: "Yes, " + (is_upgrade ? 'upgrade' : 'downgrade') + " my subscription",
                        className: "btn-primary",
                        callback: function () {
                            updateSubscriptionForm.submit();
                        }
                    }
                }
            });
        });
    }
    </script>
{% endblock %}