{% extends "layouts/standard.html" %}

{% block page_header %}
    <div class="jumbotron" id="home-page-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <p>
                        <strong>Archive your Dota 2 Replays</strong><br/>
                        before they expire and are lost forever.
                    </p>
                    <ul class="text-left">
                        <li>Easy replay archiving - just input a match id</li>
                        <li>Archived replays will be saved forever</li>
                        <li>Unlimited, fast, & free downloads</li>
                        <li>Browse replays by <a href="{{ url_for('leagues.leagues') }}">Tournaments</a></li>
                        <!-- TODO
                        <li>Browse replays by <a href="{{ url_for('teams.teams') }}">Teams</a></li>
                        -->
                    </ul>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><strong>Subscriptions</strong></p>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('subscriptions.marketing_bullshit') }}">Backtrack</a>
                            </td>
                            <td>
                                <ul>
                                    <li>No advertisements</li>
                                    <li>No captcha when downloading replays</li>
                                </ul>
                            </td>
                            <td>&dollar;1.99/mo</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('subscriptions.marketing_bullshit') }}">Chrono</a>
                            </td>
                            <td>
                                <ul>
                                    <li>Automatically archive your own replays</li>
                                </ul>
                            </td>
                            <td>&dollar;4.99/mo</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('subscriptions.marketing_bullshit') }}">Universe</a>
                            </td>
                            <td>
                                <ul>
                                    <li>Player watchlists: Auto-archive up to 5 other player's replays</li>
                                </ul>
                            </td>
                            <td>&dollar;19.99/mo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="POST" action="{{ url_for('replays.search') }}">
                        {{ search_form.hidden_tag() }}
                        <div class="input-group input-group-lg">
                            {{ search_form.query(class='form-control', placeholder='Match ID') }}
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-primary" value="Archive"/>
                                    </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Latest added</h1>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Replay ID</th>
                    <th>State</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for replay in last_added_replays %}
                    <tr>
                        <td>
                            <a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a>
                        </td>
                        <td>{{ replay.get_state() }}</td>
                        <td>{{ replay.added_to_site_time|datetime_to_datestring }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h1>Latest archived</h1>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Replay ID</th>
                    <th>State</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for replay in last_archived_replays %}
                    <tr>
                        <td>
                            <a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a>
                        </td>
                        <td>{{ replay.get_state()}}</td>
                        <td>{{ replay.dl_done_time|datetime_to_datestring }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="most-favs">
                <h2>Most favourited replays</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Replay ID</th>
                        <th>Favourites</th>
                        <th>Added time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for replay_id, replay_added_time, count in most_favourited_replays %}
                        <tr>
                            <td><a href="{{ url_for("replays.replay", _id=replay_id) }}">{{ replay_id }}</a></td>
                            <td>{{ count }}</td>
                            <td>{{ replay_added_time|datetime_to_datestring }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">

            <div class="most-licks">
                <h2>Most liked replays</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Replay ID</th>
                        <th>Likes</th>
                        <th>Added time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for replay_id, replay_added_time, count in most_liked_replays %}
                        <tr>
                            <td><a href="{{ url_for("replays.replay", _id=replay_id) }}">{{ replay_id }}</a></td>
                            <td>{{ count }}</td>
                            <td>{{ replay_added_time|datetime_to_datestring }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="most-downloads-30d">
        <h2>Most downloaded replays (past 30 days)</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Replay ID</th>
                <th>&nbsp;</th>
                <th>Radiant</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Dire</th>
                <th>&nbsp;</th>
                <th>League</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            {% for replay, count in most_downloaded_30days %}
                <tr>
                    <td>
                        <a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a>
                    </td>
                    <td>
                        {% if replay.radiant_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.radiant_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.radiant_team_id %}
                            <a href="{{ url_for('teams.team', _id=replay.radiant_team_id) }}">{{ replay.radiant_team_name }}</a>
                        {% else %}
                            Radiant
                        {% endif %}
                    </td>
                    <td>vs</td>
                    <td>
                        {% if replay.dire_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.dire_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.dire_team_id %}
                            <a href="{{ url_for('teams.team', _id=replay.dire_team_id) }}">{{ replay.dire_team_name }}</a>
                        {% else %}
                            Dire
                        {% endif %}
                    </td>
                    {% if replay.league %}
                        <td>
                            <img src="{{ replay.league.icon }}" class="team-logo">
                        </td>
                        <td><a href="{{ url_for('leagues.league', _id=replay.league_id) }}">{{ replay.league.name }}</a>
                        </td>
                    {% else %}
                        <td>&nbsp;</td>
                        <td>-</td>
                    {% endif %}
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="most-downloads-at">
        <h2>Most downloaded replays (all time)</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Replay ID</th>
                <th>&nbsp;</th>
                <th>Radiant</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Dire</th>
                <th>&nbsp;</th>
                <th>League</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            {% for replay, count in most_downloaded %}
                <tr>
                    <td>
                        <a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.get_alias() or replay.id }}</a>
                    </td>
                    <td>
                        {% if replay.radiant_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.radiant_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.radiant_team_id %}
                            <a href="{{ url_for('teams.team', _id=replay.radiant_team_id) }}">{{ replay.radiant_team_name }}</a>
                        {% else %}
                            Radiant
                        {% endif %}
                    </td>
                    <td>vs</td>
                    <td>
                        {% if replay.dire_team_logo %}
                            <img src="{{ url_for('ugcfile', _id=replay.dire_team_logo) }}" class="team-logo">
                        {% endif %}
                    </td>
                    <td class="team-name">
                        {% if replay.dire_team_id %}
                            <a href="{{ url_for('teams.team', _id=replay.dire_team_id) }}">{{ replay.dire_team_name }}</a>
                        {% else %}
                            Dire
                        {% endif %}
                    </td>
                    {% if replay.league %}
                        <td>
                            <img src="{{ replay.league.icon }}" class="team-logo">
                        </td>
                        <td><a href="{{ url_for('leagues.league', _id=replay.league_id) }}">{{ replay.league.name }}</a>
                        </td>
                    {% else %}
                        <td>&nbsp;</td>
                        <td>-</td>
                    {% endif %}
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="stats">
        <h2>Stats</h2>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Last 24hrs</th>
                <th>Last Week</th>
                <th>Last Month</th>
                <th>All Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Replays added</th>
                <td>{{ stats.replays_count(24) }}</td>
                <td>{{ stats.replays_count(24*7) }}</td>
                <td>{{ stats.replays_count(24*30) }}</td>
                <td>{{ stats.replays_count() }}</td>
            </tr>
            <tr>
                <th>Replays archived</th>
                <td>{{ stats.archived_count(24) }}</td>
                <td>{{ stats.archived_count(24*7) }}</td>
                <td>{{ stats.archived_count(24*30) }}</td>
                <td>{{ stats.archived_count() }} ({{ stats.bucket_size()|filesizeformat }})</td>
            </tr>
            <tr>
                <th>Downloads fulfilled</th>
                <td>{{ stats.downloads_count(24) }}</td>
                <td>{{ stats.downloads_count(24*7) }}</td>
                <td>{{ stats.downloads_count(24*30) }}</td>
                <td>{{ stats.downloads_count() }}</td>
            </tr>
            <tr>
                <th>Users registered</th>
                <td>{{ stats.users_count(24) }}</td>
                <td>{{ stats.users_count(24*7) }}</td>
                <td>{{ stats.users_count(24*30) }}</td>
                <td>{{ stats.users_count() }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
