{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Dotabank <small>I even called the database 'dotabase'.</small></h1>
            <div class="row">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Replays in database</dt>
                        <dd>{{ total_replays }}</dd>
                        <dt>Available to download</dt>
                        <dd>{{ total_replays_downloadable }}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Total users</dt>
                        <dd>{{ total_users }}</dd>
                        <dt>Downloads fulfilled</dt>
                        <dd>{{ total_downloads_processed }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Latest added</h1>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <td>Replay ID</td>
                        <td>State</td>
                        <td>Time</td>
                    </tr>
                </thead>
                <tbody>
                    {% for replay in last_added_replays %}
                        <tr>
                            <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                            <td>{{ replay.state }}</td>
                            <td>{{ replay.added_to_site_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h1>Latest parsed</h1>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <td>Replay ID</td>
                        <td>State</td>
                        <td>Time</td>
                    </tr>
                </thead>
                <tbody>
                    {% for replay in last_parsed_replays %}
                        <tr>
                            <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                            <td>{{ replay.state }}</td>
                            <td>{{ replay.parse_done_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
