{% extends "layout.html" %}

{% block content %}
    <h1>Latest replays</h1>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td>Replay ID</td>
                <td>Favourite</td>
                <td>Rating</td>
                <td>State</td>
                <td>Replay state</td>
                <td>URL</td>
            </tr>
        </thead>
        <tbody>
            {% for replay in latest_replays %}
                <tr>
                    <td><a href="{{ url_for("replays.replay", _id=replay.id) }}">{{ replay.id }}</a></td>
                    <td>
                        <a href="{{ url_for("replays.replay_favourite", _id=replay.id, remove=(1 if replay.user_favourite() else 0)) }}">
                            <span class="{{"" if replay.user_favourite() else "text-muted" }} glyphicon glyphicon-star"> ({{ replay.favourites|list|length }})</span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=1) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive == True else "text-muted" }} glyphicon glyphicon-thumbs-up"> ({{ replay.ratings|selectattr("positive")|list|length }})</span>
                        </a>
                        <a href="{{ url_for("replays.replay_rate", _id=replay.id, positive=0) }}">
                            <span class="{{"" if replay.user_rating() and replay.user_rating().positive != True  else "text-muted" }} glyphicon glyphicon-thumbs-down"> ({{ replay.ratings|rejectattr("positive")|list|length }})</span>
                        </a>
                    </td>
                    <td>{{ replay.state }}</td>
                    <td>{{ replay.replay_state }}</td>
                    <td>
                        <a class="btn btn-default btn-xs {{ "disabled" if not replay.url else "" }}" href="{{ replay.url }}">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>All users evar</h1>
    <ul>
        {% for user in all_users %}
            <li><a href="{{ url_for("users.user", _id=user.id) }}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
