{% extends "layouts/standard.html" %}

{% block page_header %}
    <div class="page-header">
        <h1>Error {{ error.code }} - {{ error.name }}</h1>
    </div>
{% endblock %}

{% block top_ad %}
    {# Don't show ads on error pages, error pages aren't content. #}
{% endblock %}

{% block bottom_ad %}
    {# Don't show ads on error pages, error pages aren't content. #}
{% endblock %}

{% block content %}
    <p>
        {{ error.description }}
    </p>

    {% if error.code == 401 %}
        <a href="{{ url_for("users.login") }}"><img src="{{ url_for('static', filename='images/sits_small.png') }}" alt="Sign in with Steam"/></a>
    {% endif %}
{% endblock %}
