<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title or "Dotabank" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for("static", filename="css/dotabank.css") }}" rel="stylesheet"/>
    {%- block style %}
    {%- endblock style %}
</head>

<body>
    {% if current_user.is_admin() %}
        {% include "admin/toolbar.html" %}
    {% endif %}
    {% include "site_nav.html" %}

    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash alert {{ "alert-" + category if category != "message" else "warning"}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
        <div id="ad_large_bottom" class="text-center">
            {% if current_user.allows_ads() %}
            <hr>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Dotabank large bottom -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-0889116873012495"
                 data-ad-slot="1395774647"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}
        </div>
    </div>
    <hr>
    <div id="footer" class="container text-muted">
        <ul class="list-inline pull-left">
            <li>© <a href="https://rjackson.me">Rob Jackson</a>. Powered by <a href="http://steampowered.com">Steam</a>.</li>
        </ul>
        <ul class="list-inline pull-right">
            <li><a href="{{ url_for("privacy") }}">Privacy Policy</a></li>
            <li><a href="{{ url_for("tos") }}">Terms of Service</a></li>
            <li><a href="{{ url_for("about") }}">About Dotabank</a></li>
        </ul>
        <div class="clearfix"></div>
        <p class="text-muted">
            "Dota" is a registered trademark of <a href="http://valvesoftware.com">Valve Corporation</a>.  Dotabank is not affiliated with Valve Corporation.
        </p>
    </div>
    {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-44203303-1', 'dotabank.com');
          ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            // Javascript to enable link to tab
            var hash = document.location.hash;
            var prefix = "tab_";
            if (hash) {
                $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
            }

            // Change hash for page-reload
            $('.nav-tabs a').on('click', function (e) {
                window.location.hash = e.target.hash.replace("#", "#" + prefix);
            });
        </script>
    {% endblock %}
</body>
</html>
