<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title or "Dotabank" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for("static", filename="css/dotabank.css") }}" rel="stylesheet"/>
    {%- block style %}
    {%- endblock style %}
</head>

<body>
    {% if current_user.is_admin() %}
        {% include "admin/toolbar.html" %}
    {% endif %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for("index") }}">DOTABANK</a>
            <ul class="nav navbar-nav">
                <li class="{{ "active" if "replays" == request.endpoint  }}"><a href="{{ url_for("replays.replays") }}">Replays</a></li>
                <li class="{{ "active" if "users" == request.endpoint  }}"><a href="{{ url_for("users.users") }}">Users</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <form class="navbar-form" action="{{ url_for("replays.search") }}">
                        <input name="id" class="form-control" type="text" placeholder="Match ID" style="width:100px;"/>
                        <button class="btn btn-default" type="submit">Search</button>
                    </form>
                </li>
            {% if current_user.is_authenticated() %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> {{ current_user.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("users.user", _id=current_user.id) }}">Profile</a></li>
                        <li><a href="{{ url_for("users.logout") }}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ url_for("users.login") }}"><img src="{{ url_for('static', filename='images/sits_small.png') }}" alt="Sign in with Steam"/></a></li>
            {% endif %}
            </ul>

        </div>
    </div>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash alert {{ "alert-" + category if category != "message" else "warning"}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <div class="container">
        <p class="text-muted">
            <span>© <a href="http://rjackson.me">RJ</a>, PROBABLY. <a href="http://steampowered.com">Powered by Steam</a>.</span>
            <span class="pull-right"><a href="{{ url_for("about") }}">About Dotabank</a></span>
        </p>
    </div>
    {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            // Javascript to enable link to tab
            var hash = document.location.hash;
            var prefix = "tab_";
            if (hash) {
                $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
            }

            // Change hash for page-reload
            $('.nav-tabs a').on('click', function (e) {
                window.location.hash = e.target.hash.replace("#", "#" + prefix);
            });
        </script>
    {% endblock %}
</body>
</html>
