<div class="navbar navbar-default navbar-static-top" id="site-nav">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for("index") }}">DOTABANK</a>
        <ul class="nav navbar-nav">
            <li class="{{ "active" if "replays" == request.endpoint  }}"><a href="{{ url_for("replays.replays") }}">Replays</a></li>
            <li class="{{ "active" if "hall_of_fame" == request.endpoint  }}"><a href="{{ url_for("hall_of_fame.hall_of_fame") }}">Hall of Fame</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <form class="navbar-form" action="{{ url_for("replays.search") }}">
                    <input name="id" class="form-control" type="text" placeholder="Match ID" style="width:100px;"/>
                    <button class="btn btn-default" type="submit">Search</button>
                </form>
            </li>
        {% if current_user.is_authenticated() %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"> {{ current_user.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for("users.user", _id=current_user.id) }}">Profile</a></li>
                    <li><a href="{{ url_for("users.settings", _id=current_user.id) }}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for("users.logout") }}">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ url_for("users.login") }}"><img src="{{ url_for('static', filename='images/sits_small.png') }}" alt="Sign in with Steam"/></a></li>
        {% endif %}
        </ul>
    </div>
</div>
