<div class="container">
    <div class="alert alert-ti4">
            <a class="btn btn-ti4 pull-right" href="{{ url_for('leagues.league', _id=600) }}">View our TI4 replays</a>
        <strong>The International 4</strong> - We are automatically archiving all The International 4 games, so you can download them out-of-client at any time.
    </div>
    <div class="alert alert-info">
        <strong>Operational alpha</strong> - Dotabank's development is progressing slowly, but the ability to archive and download individual replays is
        implemented. Feel free to use such features while development continues.<br/>
        Please report any major bugs to <a href="mailto:{{ config['CONTACT_EMAIL']|escape_every_character|safe }}">{{ config['CONTACT_EMAIL']|escape_every_character|safe }}</a>.
    </div>
</div>
