{% if gc_load > 80.0 %}
    <div class="container">
        <div class="alert alert-danger">
            <strong>Archive queue full</strong> - Dotabank has hit the limit of replays it can archive in a single day (a
            Valve-imposed limit). This could be due to an error in the site, or due to a sudden influx of users of the
            site. Dotabank's developers are investigating, meanwhile <strong>please allow up to 24 hours for any newly added replays to be archived.</strong>
        </div>
    </div>
{% endif %}

{% if range(0, 10)|random > 8 %}
    {# Will display on 20% of page reqs #}
    <div class="container">
        <div class="alert alert-info">
            <strong>Donate</strong>
            Donate is quite a costly resource to run and has been running at-cost since it's launched in September 2013.
            If you would like to donate to help us cover server costs, please see <a href="{{ url_for('donate') }}">our donate page</a>.
        </div>
    </div>
{% endif %}